<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>
<header>
    <% include ../template/header.ejs %>
</header>
<div class="container">
    <h1>Please insert builder's details</h1>
        <table class="list-table">
            <form action="/builders/show" method="post">
            <tr>
                <td>First Name</td>
                <td><input type="text" name="firstname" /></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lastname" /></td>
            </tr>
            <tr>
                <td>Profession</td>
                <td><input type="text" name="position" /></td>
            </tr>
            <tr>
                <td colspan="2"><button>Find</button></td>
            </tr>
            </form>
        </table>

</div>
<footer>
    <% include ../template/footer.ejs %>
</footer>
</body>
</html>