<!DOCTYPE html>
<html>
<head>
        <% include ./template/head.ejs %>
</head>
<body>
<header>
    <% include ./template/header.ejs %>
</header>
<div class="container">
    <h1><%= pageTitle %></h1>
    <form action="/login" method="post">
        <% include ./template/messages.ejs %>
        <table>
            <tbody>
            <tr>
                <td>Email:</td>
                <td><input type="email" name="email" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Login</button></td>
            </tr>
                <td><input type="hidden" name="remember_me"/></td>
            <td><input id="mycheckbox" name="remember_me" type="checkbox" value="1"/>Keep me logged in on this computer</td>
                  <!-- <em><strong>Do not</strong> use this option on a public computer</em>-->
            </tr>
            </tbody>
        </table>
    </form>
    <script>
        var myCheckBox = document.getElementsById('mycheckbox');
            myCheckBox.form.addEventListener('submit', function (tick) {
                tick.preventDefault();
                console.log(myCheckBox.checked);
            }, false);
    </script>
</div>
<footer>
    <% include template/footer.ejs %>
</footer>
</body>
</html>
