<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>
<div class="container">
    <h2>Recent posts from customers</h2>
    <table class="list-post">
        <thead>
        <tr>
            <th>Customer Name</th>
        </tr>
            <form action="/posts" metod="POST">
                <input type="text" name=title"/><br />
                <button type="submit">Submit</button>
            </form>
        </thead>
        <tbody>
    </table>

</div>
</body>
</html>