<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>
<div class="container">
    <h2>Recent posts from customers</h2>
    <table class="list-post">
        <thead>
        <tr>
            <h2>Realm Blog</h2>

        </tr>
            <form action="/posts" metod="POST">
                <input type="text" name=title"/></br>
                <textarea name="content"></textarea></br>
                <button type="submit">Submit</button>
            </form>
        </thead>
        <tbody>
    </table>
</div>
</body>
</html>