<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>

<div class="container">
    <h3><a href="/customers/create">Create Customer</a></h3>


    <table class="list-table">
        <thead>
        <tr>
            <th>Customer Name</th>
            <th>Position</th>
        </tr>
        </thead>
        <tbody>



</body>
</html>