<div class="review">
    <form action="/posts/postReview" method="post">
        <td>Builder's name</td>
        <td>:</td>
        <input type="text" name="title" /><br/>
        <textarea name="description" cols="70" rows="5" charswidth="3" placeholder="...write a review about a builder"></textarea>
        <label class="radio-inline"><input type="radio" name="review" value="1">1</label>
        <label class="radio-inline"><input type="radio" name="review" value="2">2</label>
        <label class="radio-inline"><input type="radio" name="review" value="3">3</label>
        <label class="radio-inline"><input type="radio" name="review" value="4">4</label>
        <label class="radio-inline"><input type="radio" name="review" value="5">5</label>
        <td colspan="2"><button type="submit">Send</button></td>
    </form>
</div>