<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>
<header>
    <% include ../template/header.ejs %>
    <style>
        .display{
            width: 100%;
        }
    </style>
</header>
<div>
    <form method="post" action="/builders/profile/<%= builder._id%>/photo/upload" enctype="multipart/form-data">
    <div class="images-upload">
        <h2>Upload the images:</h2>
        <div class="brows">
            <label for="title">Image: </label>
            <input type="file" name="file" id="file">
        </div>
        <div class="brows" cols="54" rows="50" >
            <h3>Choose the category:</h3>
            <label>Category:</label>
            <select name="categories" id="categories">
                <option value="">--</option>
                <option value="bathrooms">Bathrooms</option>
                <option value="electricity">Electricity</option>
                <option value="painting">Paining job</option>
                <option value="carpenter">Carpenter</option>
            </select>
        </div>
        <div id="upload-button">
            <input type="submit" name="submit" value="upload image">
        </div>
    </div>
</form>
    <footer>
        <% include ../template/footer.ejs %>
</footer>
</div>
</body>

</html>