<script language="JavaScript" type="text/javascript"></script>

<title>
  <%= (typeof siteTitle != "undefined" ? siteTitle : "") %>/<%= (typeof pageTitle != "undefined" ? pageTitle : " ") %>
</title>
<meta charset="utf-8" />
<!-- This meta tag tells the mobile device to not zoom-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="Tatyana Kasa"/>
<meta name="description" content="The Building Company website provides an opportunity for professional
          builders to exert himself on business market and get the job;
           and for customers get the excellent services."/>
<meta name="keywords" content="BC, builders, find builders, need a builder, find job, The Building Company website, get a job,
          a professional builder, get the excellent services."/>

<link rel='stylesheet' href='/stylesheets/style.css' />
